                                      /* Main Stylesheet for main tabs */

/* Main Website Design Sorces */

.tn{
  margin-top: 0%;
  margin-bottom: -7.5%;
  margin-right: -100px;
  text-align: right;
}

.tnc{
  margin-left: 80%;
  margin-right: 10%;
  color: rgb(255, 255, 255);
  font-size: large;
  text-decoration: none;
  transition: 0.5s;
}

.tnc:hover {
  color:#5a3e68
}

h2{
  min-height: 100%;
  min-width: 100%;
  background: url(Live\ Event\ icon.jpg);
  background-size: cover;
  transition-delay: -5ms;
  margin: 0;
  padding: 0;
}

.logo{
  cursor: pointer;
  cursor: hand;
  margin-left: 39%;
  width: 300px;
  height: 300px;
  border:5px rgb(151, 4, 4);
  border-radius: 4px;
  background: url(Audio\ video\ development\ Full.png);
  transition-duration:.60s;
  background-size: cover;
}

body{
  background-color: #2d0044;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  
}


/*Performance temp screen */
.home{
  height: 100%;
  width: 100%;
  align-content: center;
}

.text{
  margin-left: 31%;
  color:rgb(255, 227, 69);
  font-size: larger;
}

.text2{
  margin-left: 34%;
  color:rgb(255, 227, 69);
  font-size: larger;
}

.rtext{
  color: aliceblue;
}

.return{
  cursor: pointer;
  background-color: #6c0e97;
  margin-left: 44%;
  width: 120px;
  height: 80px;
  transition: 0.5s;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  
}

/*Photography Window*/
.bim{
  cursor: pointer;
  margin-top: 20px;
  margin-left: 50px;
  height: 50px;
  width: 35px;
  background-size: fill;
  opacity: 75%;
}

.home{
  margin-top: -100px;
}

.nn{
  align-items: center;
}

.ptto{
margin-left: 570px;
margin-right: 30px;
color: rgb(255, 255, 255);
float: left;
font-size: 35px;
font-family: sans-serif;
text-decoration: underline;
}

.pthree{
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 80px;
  color: rgb(255, 255, 255);
  float: left;
  font-size: 25px;
  font-family: sans-serif;
}

.slideshow {
  position: relative;
  width: calc(400px - 40px);
  height: calc(200px - 20px);
  overflow: hidden;
}

.slide {
  position: absolute;
  width: calc(400px - 40px);
  height: calc(200px - 20px);
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.fix{
  margin-bottom: -20px;
  margin-top: -20px;
  width: 1200px;
  height: 300px;
}

.spco{
  margin-top: -100px;
  margin-bottom: -60px;
  margin-left: 100px;
  width: calc(390px - 39px);
  height: calc(200px - 20px);
  text-align: center;
  font-size: x-large;
  color: white;
}

.spct{
  margin-top: -255px;
  margin-left: 500px;
  width: calc(390px - 39px);
  height: calc(200px - 20px);
  text-align: center;
  font-size: x-large;
  color: white;
}

.spch{
  margin-top: -265px;
  margin-left: 890px;
  width: calc(390px - 39px);
  height: calc(200px - 20px);
  text-align: center;
  font-size: x-large;
  color: white;
}

/*Potfolio Window*/
.return:hover{
  background-color:#5a3e68;
}

.container{
  position: relative;
  width: 1200px;
  height: 300px;
  margin-left: 6%;
  margin-top: 20px;
  margin-bottom: -50px;
}

.ibox1{
  cursor:pointer;
  cursor:hand;
  position: relative;
  width: calc(400px - 40px);
  height: calc(200px - 20px);
  background-size: cover;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.ibox1 .icon{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: #9a2ace7a;
  transition: 0.5s;
  z-index: 1;
}

.ibox1:hover .icon{
  background: #9a2ace7a;
  transition: 1s;
  top:0px;
  opacity: 0%;
}


.container .ibox1 .icon .words{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%,50%);
  font-family: sans-serif;
  font-size: 60px;
  font-style: italic;
  color: rgb(255, 255, 255);
  transition: 1s;
}

.container .ibox1:hover .icon .words{
  opacity: 0%;
}

.gal{
  width: calc(400px - 40px);
  height: calc(280px - 28px);
  border-radius: 10px;

}



/* Sub 1 */
.return:hover{
  background-color:#5a3e68;
}

.container{
  position: relative;
  width: 1200px;
  height: 300px;
  margin-left: 6%;
  margin-top: 20px;
  margin-bottom: 70px;
}

.box1{
  cursor:pointer;
  cursor:hand;
  position: relative;
  width: calc(400px - 40px);
  height: calc(300px - 30px);
  background: url(Live\ Event\ icon.jpg);
  background-size: cover;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.box1 .icon{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: #9a2ace7a;
  transition: 0.5s;
  z-index: 1;
}

.box1:hover .icon{
  background: #9a2ace7a;
  transition: 0.5s;
  top:40px;
  left: calc(50% - 400px);
  width: 800px;
  height: 80px;
}


.container .box1 .icon .words{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%,50%);
  font-family: sans-serif;
  font-size: 60px;
  font-style: italic;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.container .box1:hover .icon .words{
  font-size: large;
}

.box2{
  cursor:pointer;
  cursor:hand;
  position: relative;
  width: calc(400px - 40px);
  height: calc(300px - 30px);
  background: url(Videography\ icon.jpg);
  background-size: cover;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.box2 .icon{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: #9a2ace7a;
  transition: 0.5s;
  z-index: 1;
}

.box2:hover .icon{
  background: #9a2ace7a;
  transition: 0.5s;
  top:40px;
  left: calc(50% - 400px);
  width: 800px;
  height: 80px;
}

.container .box2 .icon .words{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%,50%);
  font-family: sans-serif;
  font-size: 60px;
  font-style: italic;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.container .box2:hover .icon .words{
  font-size: large;
}

.box3{
  cursor:pointer;
  cursor:hand;
  position: relative;
  width: calc(400px - 40px);
  height: calc(300px - 30px);
  background: url(Photography\ icon.jpg);
  background-size: cover;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.box3 .icon{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: #9a2ace7a;
  transition: 0.5s;
  z-index: 1;
}

.box3:hover .icon{
  background: #9a2ace7a;
  transition: 0.5s;
  top:40px;
  left: calc(50% - 400px);
  width: 800px;
  height: 80px;
}


.container .box3 .icon .words{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%,50%);
  font-family: sans-serif;
  font-size: 60px;
  font-style: italic;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.container .box3:hover .icon .words{
  font-size: large;
}

/* Line Breaks */
.lone{
  margin-top: -50px;
  margin-left: 27%;
  margin-bottom: -20px;
  height:150px;
  width: 600px;
}

.brk{
  height: 300px;
  width: 150px;
  margin-top: -165px;
  margin-left: 395px;
}

.brek{
  height: 300px;
  width: 150px;
  margin-top: -255px;
  margin-left: 790px;
}


/* Sub 2 */
.sub2{
  margin-left:90px;
  margin-right:90px;

}

.pone{
  margin-left: 40px;
  margin-right: 450px;
  color: rgb(255, 255, 255);
  float: left;
  font-size: 25px;
  font-family: sans-serif;
}

.box4{
  cursor:pointer;
  cursor:hand;
  position: relative;
  margin-top: -230px;
  margin-right: 40px;
  background: url(development\ icon.jpg);
  background-size: cover;
  float: right;
  width: calc(400px - 40px);
  height: calc(200px - 20px);
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;

}

.aone{
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: #9a2ace7a;
  transition: 0.5s;
  z-index: 1;
}

.box4:hover .aone{
  background: #9a2ace7a;
  transition: 0.5s;
  margin-top: 40px;
  left: calc(50% - 400px);
  width: 800px;
  height: 80px;
}

.wordt{
  position: absolute;
  top: 0px;
  left: 50%;
  margin-top: 20%;
  transform: translate(-50%,50%);
  font-family: sans-serif;
  font-size: 60px;
  font-style: italic;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.box4:hover .aone .wordt{
  margin-top: 16%;
  font-size: large;
}

/* Sub 3 */
.sub3{
  margin-left:90px;
  margin-right:90px;

}

.ptwo{
  margin-top: -190px;
  margin-left: 450px;
  margin-right: 40px;
  color: rgb(255, 255, 255);
  float: right;
  font-size: 30px;
  font-family: sans-serif;
}

.box5{
  cursor:pointer;
  cursor:hand;
  position: relative;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 400px;
  background: url(studio\ icon.jpg);
  background-size: cover;
  float: left;
  width: calc(400px - 40px);
  height: calc(200px - 20px);
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;

}

.aone{
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: #9a2ace7a;
  transition: 0.5s;
  z-index: 1;
}

.box5:hover .aone{
  background: #9a2ace7a;
  transition: 0.5s;
  margin-top: 40px;
  left: calc(50% - 400px);
  width: 800px;
  height: 80px;
}

.word3{
  position: absolute;
  top: 0px;
  left: 50%;
  margin-top: 20%;
  transform: translate(-50%,50%);
  font-family: sans-serif;
  font-size: 60px;
  font-style: italic;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.box5:hover .aone .word3{
  margin-top: 17%;
  font-size: large;
}

/* Sub 4 */

.index{
  margin-bottom: 0%;
  background:rgb(31, 0, 41);
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.logo2{
  cursor: pointer;
  cursor: hand;
  margin-top: 0px;
  margin-left:20px;
  width: 100px;
  height: 100px;
  border:5px rgb(151, 4, 4);
  border-radius: 4px;
  background: url(Audio\ video\ development.png);
  transition-duration:.60s;
  background-size: cover;
}

.footerl{ 
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 30px;
  color:rgb(255, 255, 255);
 
}

.footerl:hover{
  color:rgb(163, 163, 163)
}

/* Performance page */
.pb1{
  background-image: url(Live\ Event\ icon.jpg);
  background-size: cover;
}
.nm{
  align-items: center;
}
.ptoo{
margin-left: 490px;
margin-right: 90px;
color: rgb(255, 255, 255);
float: left;
font-size: 60px;
font-family: sans-serif;
text-decoration: underline;
}

#contact_form {
  padding-top: 20px;
  padding-bottom: 20px;
  }

.row label{
  color: #FFFFFF;
  font-size: 18px;
  margin-left: 420px;
}

input[type=text], textarea {
  text-align: center;
  background-color: #3a003f;
  border-radius: 5px;
  margin: auto 0;
  color: #FFFFFF;
  margin-left: 420px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px #3e4444;
  }

input[type=text] {
  height: 25px;
  width: 500px;
}

input[type=submit] {
  background-color: #3a003f;
  color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 610px;
  box-shadow: 5px 5px 5px #3e4444;
}


/*404 PAGE*/
.tetx{
  margin-top: 120px;
  color: white;
  font-size: larger;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.rtrn{
  cursor: pointer;
  background-color: #6c0e97;
  margin-left: 44%;
  width: 120px;
  height: 80px;
  transition: 0.5s;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  
}
